.photo-grid {
  width: calc(100% - 16px * 2);
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 12px;
  margin-top: 64px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    width: calc(100% - 24px * 2);
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    grid-gap: 16px;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    width: calc(100% - 48px * 2);
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    grid-gap: 16px;
    margin-top: 92px;
  }
}
