.places {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .places {
    width: calc(100% - 24px * 2);
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    width: calc(100% - 48px * 2);
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    width: calc(100% - 148px * 2);
  }
}
