.place__paragraph {
  margin: 0 16px;
  padding: 0;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    margin: 0;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 26px;
  }
}
