.intro__text {
  max-width: 288px;
  margin: 40px 0 33px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  .intro__text {
    max-width: 720px;
    /* возможно расягивающееся лучше хоть и не совсем по заданию */
    /* max-width: calc(100% - 24px * 2) */
    /* Нет)) */
  }
}

@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}
