.intro {
  width: calc(100% - 16px * 2);
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .intro {
    width: calc(100% - 24px * 2);
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    width: calc(100% - 148px * 2);
  }
}
