.lead__subtitle {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 40px auto 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    margin: 64px auto 0;
    font-size: 30px;
    line-height: 36px;
  }
}
