.place {
  display: grid;
  margin: 0;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, minmax(mincontent, maxcontent));
  grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
  gap: 32px 0;
  justify-items: center;
  margin-bottom: 50px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-areas:
      "title website"
      "image paragraph";
    gap: 40px 28px;
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;

  }
}
